// Module

@use 'Dark'

body
    background-color: Dark.$body-color
    color: Dark.$font-color

h1
    color: Dark.$color-red

div
    background-color: Dark.$color-blue
    margin: 5px

nav
    div
        color: Dark.$color-red
        background-color: Dark.$body-color
        
    ul
        list-style: none

        li
            background-color: Dark.$color-blue
            margin: 1px 0 0 0
            padding: 5px 10px

    a
        text-decoration: none
        color: Dark.$color-white
        background-color: Dark.$color-red
        display: block
        width: 100%
        padding: 5px 10px
